.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 40px;
}
.heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 48px;
  color: #1e293b;
  text-align: center;
  margin-bottom: 40px;
}
.ul-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  height: 300px;
  margin-top: 40px;
}